:root {
    /* Cores */
    --cor-principal: #007bff;
    --cor-escura: #0056b3;
    --cor-texto: #fff;
    --cor-marrom: #995A1F;
    --cor-verde: #7cc622;
    --cor-escura-marrom: rgba(131, 77, 27, 0.915);
    --cor-verde-escuro: #5E8330;
    --cor-fundo-verde: rgb(110, 153, 57);
    --cor-fundo-cabecalho: rgba(248, 242, 242, 0.445);
    --cor-fundo-descricao: rgba(0, 0, 0, 0.5);
    --cor-texto-descricao: rgba(0, 0, 0, 0.743);

    /* Dimensões e espaçamentos */
    --padding: 20px;
    --margin: 20px;
    --border-radius: 5px;
    --box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.264);
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--cor-texto);
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilos agrupados */
.secao-botoes a,
nav a,
.secao-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    text-decoration: none;
}

p,
ul li,
ol li,
label {
    font-size: 18px;
    font-weight: bold;
}

.texto-marrom {
    color: var(--cor-marrom);
}

.texto-verde {
    color: var(--cor-verde);
}

nav h2,
.introducao h4,
.objetivos h4,
.secao-controle h4,
.secao-prevencao h4 {
    margin-top: 50px;
    width: 100%;
}

nav,
.introducao,
.secao-info,
.secao-introducao-ia,
footer,
.obj1,
.obj2,
.formulario {
    background: var(--cor-fundo-verde);
}

nav,
.secao-descricao,
.titulo-e-subtitulo,
.secao-titulos,
.introducao,
.secao-introducao-ia,
.rodape,
.secao-vertentes,
.objetivos,
.secao-controle,
.secao-prevencao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introducao p,
.secao-introducao-ia p,
.objetivos p {
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 62%;
    line-height: 32px;
}

.secao-info,
.rodape,
.secao-vertentes,
.obj2,
.secao-manejo {
    padding: 60px 0;
    box-shadow: var(--box-shadow);
}

/* Cabeçalho */
header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    opacity: 85%;
}

#home {
    background-image: url(img/fundo-cabeçalho1.jpg);
}

#agricultura {
    background-image: url(img/fundo-cabecalho2.jpg);
}

#ia-agricultura {
    background-image: url(img/fundo-cabecalho3.jpg);
}

#cultivo {
    background-image: url(img/fundo-cabecalho4.jpg);
}

#repositorio {
    background-image: url(img/fundo-cabecalho5.jpg);
}

#contato {
    background-image: url(img/fundo-cabecalho6.jpg);
}

.secao-cabecalho {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 70%;
}

/* Topo */
.secao-botoes a {
    height: 48px;
    border-radius: 52px;
    margin: 0 10px;
}

.menu {
    background-color: #929090;
}

.home {
    background-color: #6E9939;
}

.secao-botoes a p {
    width: 100%;
    height: 20px;
    font-weight: 400;
    text-align: center;
}

.secao-topo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--cor-fundo-cabecalho);
}

.logotipo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logotipo img {
    width: 96px;
}

.icone-seta img {
    width: 42px;
}

.secao-botoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Seção Títulos */
h4 {
    font-size: 22px;
}

.secao-titulos {
    height: 100%;
}

.titulo-e-subtitulo {
    justify-content: space-between;
    max-height: 258px;
    margin: 70px 0 126px 0;
    padding-top: 50px;
}

.secao-descricao {
    justify-content: space-between;
    height: 30%;
    padding: 20px;
    background-color: var(--cor-fundo-descricao);
}

/* Menu de Navegação */
nav {
    justify-content: center;
    padding: 10px 0;
    gap: 52px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

nav a {
    width: 100%;
    height: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    align-self: stretch;
    margin: 20px 0;
}

/* Fundo Marrom */
.botao-marrom,
.secao-vertentes,
.funcionamento-ia {
    background: var(--cor-escura-marrom);
}

.botao-verde {
    background: var(--cor-verde-escuro);
}

/* Seção Galeria */
.container-galeria {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 18px;
    background-color: var(--cor-verde-escuro);
    box-shadow: var(--box-shadow);
}

.imagem-container {
    flex: 0 0 300px;
    scroll-snap-align: end;
    position: relative;
}

.imagem-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 0;
}

.imagem {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    opacity: 50%;
}

/* Galeria Imagens */
.imagem1 { background-image: url(img/galeria1/img1.jpg); }
.imagem2 { background-image: url(img/galeria1/img2.jpg); }
.imagem3 { background-image: url(img/galeria1/img3.jpg); }
.imagem4 { background-image: url(img/galeria1/img4.jpg); }
.imagem5 { background-image: url(img/galeria1/img5.jpg); }

.imagem6 { background-image: url(img/galeria2/imagem1.jpg); }
.imagem7 { background-image: url(img/galeria2/imagem2.jpg); }
.imagem8 { background-image: url(img/galeria2/imagem3.jpg); }
.imagem9 { background-image: url(img/galeria2/imagem4.png); }

.imagem10 { background-image: url(img/galeria3/imagem1.png); }
.imagem11 { background-image: url(img/galeria3/imagem2.jpg); }
.imagem12 { background-image: url(img/galeria3/imagem3.jpg); }
.imagem13 { background-image: url(img/galeria3/imagem4.jpg); }
.imagem14 { background-image: url(img/galeria3/imagem5.png); }

.imagem15 { background-image: url(img/galeria4/img1.jpg); }
.imagem16 { background-image: url(img/galeria4/img2.jpg); }
.imagem17 { background-image: url(img/galeria4/img3.jpg); }
.imagem18 { background-image: url(img/galeria4/img4.jpg); }
.imagem19 { background-image: url(img/galeria5/img1.png); }
.imagem20 { background-image: url(img/galeria5/img2.jpg); }

/* Rodapé */
.rodape {
    background-color: var(--cor-fundo-verde);
    box-shadow: var(--box-shadow);
}

.rodape h4 {
    padding: 20px;
}

/* Tabela de Informações */
.secao-info {
    max-width: 1600px;
    height: 100%;
}

.secao-info,
.secao-introducao-ia {
    padding: 0;
    margin-top: 50px;
}

.secao-introducao-ia p {
    padding-top: 50px;
}

/* Formulários */
input,
select,
textarea {
    background-color: var(--cor-texto);
    border: 2px solid var(--cor-principal);
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-bottom: 12px;
    color: var(--cor-texto);
}

input[type="submit"] {
    background-color: var(--cor-principal);
    border: none;
    color: var(--cor-texto);
    padding: var(--padding);
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--cor-escura);
}
